[user]
    name = binh.buidang
    username = dunkbing
    email = dangbinh4869@gmail.com
[init]
    defaultBranch = main
[core]
	editor = nvim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = delta
	autocrlf = input
[color]
    ui = auto
